.contenedor {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
}
.titulo{
    background: #000;
}
/***********************************************************************/
.catProductos{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "titulo_cat_productos        titulo_cat_productos      titulo_cat_productos    titulo_cat_productos    titulo_cat_productos"
                         "cat_productos1     cat_productos2   cat_productos3    cat_productos4  cat_productos5";
}
.catProductos .titulo_cat_productos{ /*color en .titulo*/
    grid-column-start: titulo_cat_productos;
    grid-column-end: titulo_cat_productos;
}
.catProductos .cat_productos1{
    background: #ff4545;
    grid-column-start: cat_productos1;
    grid-column-end: cat_productos1;
}
.catProductos .cat_productos2{
    background: #ff4545;
    grid-column-start: cat_productos2;
    grid-column-end: cat_productos2;
}
.catProductos .cat_productos3{
    background: #ff4545;
    grid-column-start: cat_productos3;
    grid-column-end: cat_productos3;
}
.catProductos .cat_productos4{
    background: #ff4545;
    grid-column-start: cat_productos4;
    grid-column-end: cat_productos4;
}
.catProductos .cat_productos5{
    background: #ff4545;
    grid-column-start: cat_productos5;
    grid-column-end: cat_productos5;
}
/***********************************************************************/
.promos{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}
/*color de promos titulos en .titulos arriba*/
.promos .carrusel_promos{
    background: #ff4545;
}
/***********************************************************************/
.detalles{display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "foto2 texto2 texto2"
                        "texto3 texto3 foto3";
}
.detalles .foto2{
    background: #111;
    grid-area: foto2;
}
.detalles .foto3{
    background: #393f72;
    grid-area: foto3;
}
.detalles .texto2{
    background: #35454b;
    grid-area: texto2;
}
.detalles .texto3{
    background: #162a31;
    grid-area: texto3;
}



/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    .contenedor {
        grid-template-columns: 1fr;
        font-size: 30px;
    }

    .catProductos {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, auto);
        grid-template-areas: "titulo_cat_productos"
                                "cat_productos1"
                                "cat_productos2"
                                "cat_productos3"
                                "cat_productos4"
                                "cat_productos5";
    }

    .promos {
        grid-template-columns: 1fr;
    }

    .detalles {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
        grid-template-areas: 
            "foto2"
            "texto2"
            "foto3"
            "texto3";
    }

    .header {
        font-size: 30px;
    }
}

/* Estilos para tablets */
@media (min-width: 769px) and (max-width: 1024px) {
    .contenedor {
        grid-template-columns: 1fr;
        font-size: 40px;
    }

    .catProductos {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3,1fr);
        grid-template-areas: 
        "titulo_cat_productos titulo_cat_productos titulo_cat_productos"
         "cat_productos1 cat_productos2 cat_productos3"
        "cat_productos4 cat_productos5 ."
       ;   
    }

    .promos {
        grid-template-columns: 1fr;
    }

    .detalles {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, auto);
        grid-template-areas: 
            "foto2 texto2"
            "foto3 texto3";
    }

    .header {
        font-size: 40px;
    }
}
/*
        <div class="detalles">
            <div class="foto2">foto 2</div>
            <div class="foto3">foto 3</div>
            <div class="texto2">texto 2</div>
            <div class="texto3">texto 3</div>
        </div>

*/